body{
    margin: 0px;
    padding-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgb(163, 162, 162), white);
}

/*HÄR kan du se att det är lugnt*/

.navbar{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
    position: fixed;
    width: 100vw;
    height:40px;
    background-color: black;
}
.navbar img{
    height: 100%;
    width: fit-content;
    
}
.navbar a{
text-decoration: none;
color: white;
}
/*Side-menu start*/
.btn-open{
    margin: 3px 0px 0px 20px;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    color: white;
    padding: 2px;
    position: fixed;
}
.btn-open :hover{
    color: yellow;
}
.navbar-side{
    display: flex;
    flex-direction: column;
    
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0px;
    height: 100vh;
    
}
.navbar-side img{
    width: 220px;
    padding: 15px;
}

.navbar-side .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-side a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;    
}

.navbar-side a:hover{
    background-color: black;
    color: yellow;
}
/*Side-menu end*/

.header-picture{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/image00007.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin:0 !important;

    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.header-picture h1{
font-size: 50px;
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navbar h3:hover{
    color: yellow;}

/*Copy and dealeat? end*/

img{
    width: 50%;
    height: fit-content;
}

.meta-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding-top: 40px;
    
}
.content-container-1{
display: flex;
flex-basis: 100%;
margin: 10px;
}
.content-container-1 p{
    margin: 20px;
}
.content-container-2{
    display: flex;
    flex-basis: 100%;
    margin: 10px;
}
.content-container-2 img{
    order: 2;
}
.content-container-2 p{
    margin: 20px;
    order: 1;
}
.content-container-3{
    display: flex;
    flex-basis: 100%;
    margin: 10px;
}
.content-container-3 p{
    margin: 20px;
}
footer{
    display: flex;
    justify-content: center; /*??????*/
    flex-direction: column;
    background-color: rgb(163, 162, 162);
}

footer a{
    text-decoration: none;
    text-decoration: underline;
    color: black;
    font: bold;
    margin: 20px;
}
footer h3{
    align-self: center;
    margin: 20px;
}
footer a:hover{
    background-color: black;
    color: yellow;
}

/*För telefon*/
@media screen and (max-width:500px) {
 
    .content-container-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        text-align: center;

    }
    .content-container-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        text-align: center;

    }
    .content-container-2 img{
        order: 1;
    }
    .content-container-2 p{
        order: 2;
    }
    .content-container-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        text-align: center;

    }
    img{
        width: 80vw;
        height: fit-content;

    }
.navbar a{
    display:none ;
}
    .navbar{
        justify-content: flex-end;
}
.navbar img{
    margin: 20px;
}
.header-picture h1{
    display: flex;
    justify-content: center;
    width: 100vw;

}
}

    /*För dator*/
@media screen and (min-width:480px) {
.btn-open{
    display: none;
}

}