body{
    background-color: white;
    margin: 0px;
    ;
}
.background-img{
    position: absolute;
    opacity: 0.2;
z-index:-1 ;
}

.navbar{
    display:flex;
   /* justify-content:space-evenly; */
    height: 40px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.navbar a{
    text-decoration: none;
    color: white;
}

.navbar h3:hover{
    background-image: linear-gradient(red, orange);
}
.logo{
    height: 100%;
}
.title{ /*Detta ska ersättas av Lovisas css*/
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/*Sektion 1*/
.container1-2{
display: flex;
height: 400px;
flex-basis: 90%;
margin: 15px;
margin-bottom: 50px;
}
.container1-2 img{
    width: 100%;
}
.container1-2 div{
flex-direction: column;
margin: 20px;
}
.item-1-2{
    overflow: auto;
}

/*Sektion 2*/
.container1-3{
    display: flex;
    justify-content: center;
    flex-basis: 90%;
    height: 400px;
    align-items: flex-start;
    margin-bottom: 50px;
    margin: 10px;
}
.container1-3 img{
    width: 50%;
    margin: 30px;
}

.container1-3-p{
    flex-direction: column;
    flex-basis: 70%;
    overflow: auto;
    margin: 20px;
    height: 80%;
}

/*Sektion 3*/
.container1-4{
    display: flex;
    flex-basis: 90%;
    height: 400px;
    align-items: flex-start;
    margin: 30px;
}
.container1-4 img{
    width: 50%;
}
.container1-4-p{
    flex-direction: column;
margin: 20px;    
flex-basis: 70%;
    overflow: auto;
    height: 300px;
    order: 1;
}

/*För Iphone*/
@media screen and (max-width:500px) {
   
    .container1-2{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .container1-3{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .container1-3-p{
        order: 1;
    }
    .container1-3 img{
        width: 90%;
    }

    .container1-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;

    }
    .container1-4 img{
        width: 90%;
        
    }
}
