body {
  margin: 0px;
  padding-top: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(rgba(163, 162, 162, 0), white);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*HÄR kan du se att det är lugnt*/

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  width: 100vw;
  height: 40px;
  background-color: black;
}
.navbar img {
  height: 100%;
  width: fit-content;
}
.navbar a {
  text-decoration: none;
  color: white;
}
/*Side-menu start*/
.btn-open {
  margin: 3px 0px 0px 20px;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  color: white;
  padding: 2px;
  position: fixed;
}
.btn-open :hover {
  color: yellow;
}
.navbar-side {
  display: flex;
  flex-direction: column;

  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0px;
  height: 100vh;
}
.navbar-side img {
  width: 220px;
  padding: 15px;
}

.navbar-side .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar-side a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar-side a:hover {
  background-color: black;
  color: yellow;
}
/*Side-menu end*/

.header-picture {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/image00007.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 !important;

  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.header-picture-services {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/image00003.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 !important;

  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.header-picture h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header-picture-services h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar h3:hover {
  color: yellow;
}

/*Copy and dealeat? end*/

img {
  width: 50%;
  height: fit-content;
}

.meta-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  padding-top: 40px;
}
.content-container-1 {
  display: flex;
  flex-basis: 100%;
  margin: 10px;
}
.content-container-1 p {
  margin: 20px;
}
.content-container-2 {
  display: flex;
  flex-basis: 100%;
  margin: 10px;
}
.content-container-2 img {
  order: 2;
}
.content-container-2 p {
  margin: 20px;
  order: 1;
}
.content-container-3 {
  display: flex;
  flex-basis: 100%;
  margin: 10px;
}
.content-container-3 p {
  margin: 20px;
}

/*För telefon*/
@media screen and (max-width: 500px) {
  .content-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  .content-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  .content-container-2 img {
    order: 1;
  }
  .content-container-2 p {
    order: 2;
  }
  .content-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  img {
    width: 80vw;
    height: fit-content;
  }
  /* 
===================================
Centrerade logo på mobile menu
===================================*/
  .logo {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
  }
  /*
  =====================
  NAVBAR TELEFON
  =====================
  */
  .navbar a {
    display: none;
  }
  .navbar {
    justify-content: flex-end;
  }
  .navbar img {
    margin: 20px;
  }
  .header-picture h1 {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .wrapper {
    margin-top: 8rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    place-items: center;
    justify-content: center;
    transform: scale(1);
    z-index: 5;
  }
  .wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon span {
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .wrapper .icon span i {
    font-size: 25px;
    line-height: 40px;
  }
  .wrapper .facebook:hover span {
    color: #fff;
  }

  .wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before {
    background: #3b5999;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before {
    background: #e1306c;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before {
    background: #de463b;
  }

  .wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

/*För dator*/
@media screen and (min-width: 480px) {
  .btn-open {
    display: none;
  }
  /*
  =====================
  NAVBAR DESKTOP
  =====================
  */
  .wrapper {
    display: inline-flex;
    position: relative;
    left: 0;
    bottom: 0;
    /*top: 100px;*/
    /*right: 0px;*/
    width: 100%;
    place-items: center;
    justify-content: center;
    transform: scale(1);
    z-index: 5;
    margin-top: 16px;
  }

  .wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon span {
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .wrapper .icon span i {
    font-size: 25px;
    line-height: 40px;
  }
  .wrapper .facebook:hover span {
    color: #fff;
  }

  .wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before {
    background: #3b5999;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before {
    background: #e1306c;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before {
    background: #de463b;
  }

  .wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
/*
  =====================
  SERVICES
  =====================
  */

#services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  margin-bottom: 6rem;
}
.section {
  min-height: 60vh;
  margin: 40px;
}
.service-card {
  width: 300px;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
  min-height: 60vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.4s;
  cursor: pointer;
}

.service-card p {
  padding: 15px;
}

.service-card:hover {
  transform: scale(1.1);
}

.service-card h3 {
  color: yellow;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 50%;
  padding: 10px 10px;
}

.service-card:hover h3 {
  transform: scale(2);
}

.service-card-header-wrapper1 {
  width: 100%;
  background-image: url(../img/hantles.png);
  background-position: center;
  background-size: cover;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.service-card-header-wrapper2 {
  width: 100%;
  background-image: url(../img/diet.jpeg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.service-card-header-wrapper3 {
  width: 100%;
  background-image: url(../img/health.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.service-card-header-wrapper1 i {
  padding: 15px;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
}
.service-card-header-wrapper2 i {
  padding: 15px;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
}
.service-card-header-wrapper3 i {
  padding: 15px;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
}
